.content-wrapper {
    text-align: center;
    background-color: whitesmoke;
    padding: 2rem;
    text-align: center;
    width: 100%;
    max-width: 100%;
    padding-bottom: 10%;
}

.splitter {
    display: flex;
}

.sidebar {
    min-width: 8rem;
    height: 100%;
}