@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    width: 100%;
    background-color: whitesmoke;
    bottom: 0;
    font-family: Georgia, 'Times New Roman', Times, serif;
}


.all {
    bottom: 0;
    height: 100%;
}

/*
black
white
dodgerblue
whitesmoke
#ccc
*/